*.log
*.sqlite3
*.pid
*.out
cache/*
config/database.yml
config/siteprops.yml
config/facebooker.yml
config/amazon_s3.yml
config/ferret_server.yml
db/schema.rb
public/photo_thumbs
public/photos
tmp/*
index/*
