<%unless photo.status >= 5 then %><%=link_to_remote('Approve', {:url => {:controller => "admin", :action => 'updatestatus', :status => 5, :id => photo.id}}, :name => 'approve')%> | <%=link_to_remote 'Reject', {:url => {:action =>'updatestatus', :controller => "admin", :status => 1, :id => photo.id}}, :name => "reject"%><%else%><%=link_to_remote 'Delete This Photo', {:url => {:action =>'updatestatus', :controller => "admin", :status => 2, :id => photo.id}}, :name => "delete"%><%end%>
