<h1>Games</h1>

<div class="game">
	<%=link_to('Douche or Not a Douche', :action => "dond")%>
	<div class="small">
		This game is like "Hot or Not". You decide if the photo is <i>actually</i> a Douche.
	</div>
</div>

<div class="game">
	<%=link_to('Are you a Douche?', :action => "are_you_a_douche")%>
	<div class="small">
		This is a simple survey to help you figure out if you have Douche tendencies.
	</div>
</div>