When you choose to post an image as anonymous on the site, it is just that, anonymous. We make every attempt to not publicly display information that will associate the photo with your user.<br/><br/>
note: this cannot be changed later.