The Daily Douche is a newsletter from spotadouche.com that will deliver yesterday's top rated douche photo from the site to your inbox! That's right! What could be better than a nice cup of douchebag in the morning to get your day started? Nothing!