<div class="content">
<div id="bloghead"><%=image_tag('75button.png', :width=>"35px")%> Latest Douche News</div>
<div id="blogrss">
	<%=blog_rss.to_html%>
</div>
<div id="blogfoot"><a href="http://spotadouche.wordpress.com">spotadouche.wordpress.com</a></div>
</div>