<fb:header>My great application</fb:header>

<fb:tabs>
  <fb:tab-item href='<%= url_for :controller => 'facebook',
:action => 'index' %>' title='Home' selected='true'/>
</fb:tabs>

<p>
  Hi there <fb:name uid="loggedinuser" useyou="false" />!
<br/>
The Spot a Douche facebook app is coming.
<br/>
<br/>
Meanwhile, you can use facebook connect to use the main website - <a href="http://spotadouche.com">spotadouche.com</a>
</p>