<fb:header>Spot a Douche</fb:header>

<fb:tabs>
  <fb:tab-item href='<%= url_for :controller => 'facebook',
:action => 'index' %>' title='Home' selected='true'/>
</fb:tabs>

<p>
  Hi there <fb:name uid="loggedinuser" useyou="false" />!
<br/>
The Spot a Douche facebook app is coming.
<br/>
<br/>
Meanwhile, why not checkout the site - <a href="http://spotadouche.com">spotadouche.com</a>
</p>
<br/>
Here is a random photo from the site:<br/>
<%= image_tag(@photo.public_filename) %>