html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol {
	margin-left:40px;
}

body {
	background-image:url('/images/back-stripe-red-bottom.png');
	margin: 0px;
	padding: 0px;
	color: #333;
	font-weight:bold;
	font-family: helvetica;
}

h1 {
	font-weight:bold;
	font-size:32px;
	margin-bottom: 14px;
	margin-top:10px;
}

h2 {
	font-weight:bold;
	font-size:22px;
	margin-bottom: 12px;
}

p {
	margin-top:5px;
	margin-bottom:5px;
}

a {
	text-decoration: none;
	color: #660033;
}

a:hover {
	text-decoration: none;
	color: #333;
}

img {
	border: 0px;
}

.small {
	font-size: 10px;
}
.medium {
	font-size: 14px;
}
.right {
	text-align:right;
}
.fright {
	float:right;
}
.fleft {
	float:left;
}
#notice{
	background: #CCF;
	padding:10px;
	width:575px;
	margin:auto;
	margin-bottom:10px;
	border: 1px solid #aaa;
}
#error{
	background: #ffff55;
	padding:10px;
	width:575px;
	margin:auto;
	border: 1px solid #333;
}
#blast{
	background: #ffff55;
	padding:10px;
	width:575px;
	margin:auto;
	margin-bottom: 10px;
	border: 1px solid red;
}
#topback {
	position: absolute;
	top:0px;
	left:0px;

	width:100%;
	background-repeat: repeat-x;
	background-image:url('/images/back-stripe-red-top.png');
	height: 909px;
	_height: 909px;
	.height: 909px;
	*height: 909px;
}
#main {
	position: relative;
	z-index:2;
	width: 960px;
	margin:auto;
}
#toppush {
	padding-top: 36px;
	text-align: center;
	font-size: 32px;
	height: 90px;
	_height: 90px;
	.height: 90px;
	*height: 90px;
}
#logo {
	position:absolute;
	margin-top: 20px;
	text-align: center;
	font-size: 32px;
}
.topbar {
	height:60px;
	_height:60px;
	.height:60px;
	*height:60px;
	background-image:url('/images/topbar.gif');
}
.topbar-left {
	float:left;
	width:31px;
	height:60px;
	_height:60px;
	.height:60px;
	*height:60px;
	background-image:url('/images/topbar-left.gif');
}
.topbar-right {
	float:right;
	width:31px;
	height:60px;
	.height:60px;
	_height:60px;
	*height:60px;
	background-image:url('/images/topbar-right.gif');
}
#fbfan {
	margin-top:12px;
	text-align:center;
}
#bloghead {
	margin-top: 12px;
	padding:10px;
	text-align:left;
	background:#333333;
	color:#ffffff;
}
#blogfoot, #blogfoot a{
	background:#333333;
	padding:6px;
	color:#aaaaaa;
}
#blogrss {
	font-size: 14px;
	text-align:left;
	padding:8px;
	font-weight:none;
	color:#ffffff;
	border:1px solid #333333;
	background: #700000;
}
.bloglink a {
	color:#ffffff;
	font-weight:bold;
	font-size:16px;
}
.blogitem, .blogitem a {
	font-size:12px;
	margin-bottom: 10px;
	color: #eeeeee;
	margin-left:10px;
}
.sep {
	border-top: 1px solid #ffffff;
	padding:6px;
}
.blogdate {
	font-size:10px;
	color:#777777;
}

#nav {
	padding-top:18px;
}
#container {
	padding-top: 20px;
	width: 100%;
	background: #fff;
}
#content {
	background:#fff;
	float:left;
	min-height:450px;
	_height:450px;
	width:610px;
	padding: 10px;
}
#paginate {
	padding:10px;
}
#contentright{
	background:#fff;
	padding:10px;
	width:300px;
	float:right;
}
#rightbox {
	background: #eee;
	border: 1px solid #aaa;
	width: 100%;
	padding-bottom:15px;
	padding-top:15px;
}
#rcontent {
	text-align:center;
	margin:auto;
	padding:6px;
}
#socbuttons{
	text-align:right;
	float:right;
}
#search{
	text-align:right;
	width:100%;
	padding-bottom: 20px;
}
#footer {
	border-top:2px solid #fff;
	margin-top: 20px;
	padding-bottom:20px;
}

#copyright {
	float:right;
	color:#fff;
	padding:4px;
}
#footlinks {
	float:left;
	padding: 4px;
	color:#fff;
}
#footlinks a {
	color:#fff;
}
.coitop {
	margin: -3px;
	width:554px;
	height: 18px;
	background-image: url('/images/bubbletop.png');
}
.coimid {
	margin: -3px;
	padding-left:20px;
	width:534px;
	background-image: url('/images/bubblecenter.png');
}
.coibot {
	margin: -3px;
	width:554px;
	height: 28px;
	background-image: url('/images/bubblebottom.png');
}
.commenter {
	margin-left: 145px;
	margin-bottom: 35px;
}
.searchbox {
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	height:25px;
}
.searchbutton {
	height:35px;
	width: 67px;
}
.clear {
	clear:both;
}
.none {
	background-image:none;
}
ul.top {
	list-style-type: none;
	background-image: url(/images/topbar.gif);
	height: 60px;
	margin: auto;
	margin:0px;
	padding:0px;
}
ul.right {
	list-style-type: none;
}
li.right {
	float:right;
}
ul.right a:hover {
	color: #000;
}
ul.right a {
	background-image: url(/images/topbardiv.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	line-height: 54px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	color: #555;
}
li.top {
	float: left;
}
ul.top a:hover {
	color: #000;
}
ul.top a {
	background-image: url(/images/topbardiv.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	line-height: 54px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	color: #555;
}

#footerad {
	width:100%;
	margin:auto;
	text-align:center;
	margin-top:10px;
	margin-bottom: 10px;
}

.share {
	padding: 10px;
}
