<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Email Change</title>
	</head>
	<body>
		<div id="back" style="background:#700000; padding:10px">
			<div id="main" style="font-size:20px; background:#ffffff; padding:6px; border:1px solid #333">
		
				<div id="start" style="font-weight:bold;">Hello <%=@user.login%>,</div>
		
				
		
					<div id="body" style="padding:16px;">
		
					We are sending you this email to confirm that your email has been updated on the site. If this is intentional there is nothing you need to do, you can delete this email. If you didn't change your email address on the site and have received this message, please contact us immediately by replying to this email or sending an email to <a href="mailto:admins@spotadouche.com">admin@spotadouche.com</a><br/><br/>
					Old Email: <%=@oldemail%><br/>
					New Email: <%=@user.email%>
		
						<div id="beta" style="background:#CCCCFF; border: 1px solid #aaaaaa; padding:4px; margin-top: 20px; font-weight:bold; font-size:15px">
							We have sent a copy of this email to your old email address as well.
						</div>
						<div id="sin" style="font-weight:bold; margin-top:20px;">Sincerly,</div>
						<div id="sig" style="font-size:16px; padding-left:6px;">Spot a Douche</div>
					</div>
					<div id="tag" style="font-size:14px; font-weight:bold;"><a style="text-decoration:none;"href="http://spotadouche.com">spotadouche.com</a></div>
					<div id="footer" style="border-top:2px solid #333; font-size:14px; padding-left: 10px; padding-top:2px;">
						<span id="idea" style="font-weight:bold;">Got an idea?</span> Email us - <a href="mailto:admins@spotadouche.com">admin@spotadouche.com</a>
					</div>
		
			</div>
		</div>
	</body>
</html>