<%= @user.login %>, 

	Follow the link to reset your password

  		<%= @url %>

	Sincerly,
	Spot a Douche

---	
<%=@footer['plain']%>

	This email has been sent to <%=@user.email%>
	You are receiving this email because you have chosen to receive it. 
	if you would like to prevent this mail in the future you can control your email preferences here:
	http://spotadouche.com/emailprefs