Hello <%=@login%>,

	This is a notification to let you know that there has been a new comment added to the photo <a href='http://<%=@host%>/photo/<%=@photo.id%>#comments'><%=@photo.title%></a>
	
	Sincerly,
	Spot a Douche
	
---	
<%=@footer['plain']%>
