<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>New Photo</title>
	</head>
	<body bgcolor="#700000">
		<div id="back" style="background:#700000; padding:10px">
			<div id="main" style="font-size:20px; background:#ffffff; padding:6px; border:1px solid #333">
		
				<div id="start" style="font-weight:bold;">Hello,</div>
					<div id="body" style="padding:16px;">
		
						A new photo has been uploaded to the site.
		
						<div id="beta" style="padding:4px; margin-top: 20px; font-weight:bold; font-size:15px">
							Title: <%=h(@photo.title)%><br/>
							Location: <%=h @photo.location%><br/>
							User: <%=@user.login%><br/>
							IP: <%=@photo.ip%><br/>
							<%= image_tag("http://#{@host}#{@photo.public_filename(:thumb)}") %>
						</div>
						<div id="sin" style="font-weight:bold; margin-top:20px;">Sincerly,</div>
						<div id="sig" style="font-size:16px; padding-left:6px;">Spot a Douche</div>
					</div>
					<div id="tag" style="font-size:14px; font-weight:bold;"><a style="text-decoration:none;"href="http://spotadouche.com">spotadouche.com</a></div>
					<div id="footer" style="border-top:2px solid #333; font-size:14px; padding-left: 10px; padding-top:2px;">
						<%=@footer['html']%>
					</div>
					<div id="optout" style="font-size:9px; color:#555555; font-weight:none; padding:10px;">
						This email has been sent to <%=@user.email%><br/>
						You are receiving this email because you have chosen to receive it. 
						<br/>If you would like to prevent this mail in the future you can control your email preferences here:<br/>
						<a href="http://spotadouche.com/emailprefs">http://spotadouche.com/emailprefs</a>
					</div>
		
			</div>
		</div>
	</body>
</html>