Hello <%=@login%>,

	Welcome to spotadouche.com. Now you can submit your douche spottings and rate or comment on other people's douche photos. 
	
	Currently Spot a Douche is a beta application. This means we are constantly improving and adding features to the site so check back often to see what we have added!
	
	Sincerly,
	Spot a Douche
	
---	
Got an idea? Email us - admin@spotadouche.com