<div class="star-rating-message">
<% if logged_in?%>
	Rating Submitted <%= render :partial => "ratings/rate", :locals => { :photo => @photo } %>	
<% else %>
	You must be logged in to vote
<%end%>
</div>